policy_module(powercash, 1.100.1)

########################################
#
# Declarations
#

type powercash_t;
type powercash_exec_t;
init_daemon_domain(powercash_t, powercash_exec_t)

permissive powercash_t;

type powercash_initrc_exec_t;
init_script_file(powercash_initrc_exec_t)

type powercash_conf_t;
files_type(powercash_conf_t)

type powercash_var_lib_t;
files_type(powercash_var_lib_t)

type powercash_var_run_t;
files_type(powercash_var_run_t)

type powercash_port_t;
corenet_port(powercash_port_t)

########################################
#
# powercash local policy
#
allow powercash_t self:process { fork };

allow powercash_t self:fifo_file rw_fifo_file_perms;
allow powercash_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(powercash_t, powercash_conf_t, powercash_conf_t)
manage_files_pattern(powercash_t, powercash_conf_t, powercash_conf_t)

manage_dirs_pattern(powercash_t, powercash_var_lib_t, powercash_var_lib_t)
manage_files_pattern(powercash_t, powercash_var_lib_t, powercash_var_lib_t)
files_var_lib_filetrans(powercash_t, powercash_var_lib_t, { dir file })

manage_dirs_pattern(powercash_t, powercash_var_run_t, powercash_var_run_t)
manage_files_pattern(powercash_t, powercash_var_run_t, powercash_var_run_t)

sysnet_dns_name_resolve(powercash_t)
corenet_all_recvfrom_unlabeled(powercash_t)

allow powercash_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(powercash_t)
corenet_tcp_sendrecv_generic_node(powercash_t)
corenet_tcp_sendrecv_all_ports(powercash_t)
corenet_tcp_bind_generic_node(powercash_t)

gen_require(`
    type powercash_port_t;
')
allow powercash_t powercash_port_t:tcp_socket name_bind;

gen_require(`
    type powercash_port_t;
')
allow powercash_t powercash_port_t:tcp_socket name_connect;

domain_use_interactive_fds(powercash_t)

files_read_etc_files(powercash_t)

miscfiles_read_localization(powercash_t)

sysnet_dns_name_resolve(powercash_t)

allow powercash_t powercash_exec_t:file execute_no_trans;
allow powercash_t self:process setsched;
corecmd_exec_ls(powercash_t)
corenet_tcp_connect_http_port(powercash_t)
dev_read_urand(powercash_t)
fs_getattr_xattr_fs(powercash_t)
kernel_read_system_state(powercash_t)
